<h2 class="center">Edit <%= resource_name.to_s.humanize %></h2>
<div class="col-sm-6 col-sm-offset-3">
<div class="panel panel-default">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name, class: "form-horizontal"), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row form-group">
    <div class="col-sm-3 left">
      <%= f.label :email %>
    </div>
    <div class="col-sm-9">
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="row form-group">
    <div class="col-sm-3">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
    </div>
    <div class="col-sm-9">
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-3 left">
      <%= f.label :password_confirmation %>
    </div>
    <div class="col-sm-9">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-3 left">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
    </div>
    <div class="col-sm-9">
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <div class="actions form-group center">
    <%= f.submit "Update", class: "btn btn-success" %>
    <%= link_to "Back", :back, class: "btn btn-default" %>
  </div>
<% end %>
<div class="center">
 <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-default"%></p>
</div>
</div>
</div>