<%= form_for @user do |f|%>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="col-sm-6 col-sm-offset-3">
  <h1 class="center">Editing Profile</h1>
  <div class="panel panel-default form">
  <div class="form form-group">
    <div class="col-sm-3 left">
      <%= f.label :user_name, class: "control-label" %>
    </div>
    <div class="col-sm-9">
      <%= f.text_field :user_name, class: "form-control" %>
    </div>
  </div>
  <div class="form form-group">
    <div class="col-sm-3 left">
      <%= f.label :telephone, class: "control-label"%>
    </div>
    <div class="col-sm-9 ">
      <%= f.text_field :telephone, class: "form-control" %>
    </div>
  </div>
  <div class="actions center form">
  <%= f.submit "Update", class: "btn btn-success"  %>
  </div>
</div>

</div>
<% end %>
